<!-- Severity filter -->
<mat-form-field appearance="outline" [style.width.%]="15" class="margin-right-5">
  <mat-label>Filter by Severity</mat-label>
  <mat-select (selectionChange)="filterBySeverity($event)" id="selectDropDown">
    <mat-option [value]="">-- None --</mat-option>
    <mat-option [value]="severityEnum.CRITICAL">Critical</mat-option>
    <mat-option [value]="severityEnum.MAJOR">Major</mat-option>
    <mat-option [value]="severityEnum.MINOR">Minor</mat-option>
    <mat-option [value]="severityEnum.WARNING">Warning</mat-option>
  </mat-select>
</mat-form-field>

<!-- Date picker filter -->
<mat-form-field appearance="outline" [style.width.%]="15" class="margin-right-5">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

<!-- Clear Date Picker Button -->
<button mat-raised-button color="basic" class="custom-button" (click)="clearDateFilter()">Clear</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- SEVERITY Column -->
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SEVERITY</th>
      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="row.severity">
          <mat-icon *ngSwitchCase="'CRITICAL'" class="icon critical" inline>dangerous</mat-icon>
          <mat-icon *ngSwitchCase="'MAJOR'" class="icon major" inline>error</mat-icon>
          <mat-icon *ngSwitchCase="'MINOR'" class="icon minor" inline>warning</mat-icon>
          <mat-icon *ngSwitchCase="'WARNING'" class="icon warning" inline>report_problem</mat-icon>
        </ng-container>
        &nbsp;{{row.severity}}
      </td>
    </ng-container>

    <!-- NAME Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME</th>
      <td mat-cell *matCellDef="let row"> {{row.source.name}} </td>
    </ng-container>

    <!-- STATUS Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS</th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- CONNECTOR ID Column -->
    <ng-container matColumnDef="connectorId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CONNECTOR ID</th>
      <td mat-cell *matCellDef="let row"> {{row.connectorId}} </td>
    </ng-container>

    <!-- COUNT Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> COUNT</th>
      <td mat-cell *matCellDef="let row"> {{row.count}} </td>
    </ng-container>

    <!-- CREATION TIME Column -->
    <ng-container matColumnDef="creationTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATION TIME</th>
      <td mat-cell *matCellDef="let row"> {{row.creationTime | date:'mediumTime'}} </td>
    </ng-container>

    <!-- TIME Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TIME</th>
      <td mat-cell *matCellDef="let row"> {{row.time  | date:'mediumTime'}} </td>
    </ng-container>

    <!-- TYPE Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE</th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>

    <!-- FIRST OCCURRENCE Column -->
    <ng-container matColumnDef="firstOccurrenceTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FIRST OCCURRENCE</th>
      <td mat-cell *matCellDef="let row"> {{row.firstOccurrenceTime  | date:'mediumTime'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="alarmCountTotal"
                 (page)="goToPage($event)"
                 showFirstLastButtons></mat-paginator>
</div>

